Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [4]:
import pandas as pd


countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['population_density'] = countries_df['population']/countries_df['area']*1000000
average_population_density = countries_df['population_density'].mean()
print(round(average_population_density, 2))

84.93

C:\Users\monak\AppData\Local\Temp\ipykernel_18600\1790613794.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# ВВОДНЫЕ ДАННЫЕ ДЛЯ ВЫПОЛНЕНИЯ ЗАДАНИЙ 3.4-3.5

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [55]:
ufo_data = pd.read_csv('data/ufo.csv', sep=',')
display(ufo_data)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [11]:


# Преобразование столбца времени к формату datetime
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], errors='coerce')

# Выделение года из каждой записи
ufo_data['Year'] = ufo_data['Time'].dt.year

# Подсчет количества случаев для каждого года
count_by_year = ufo_data['Year'].value_counts()

# Нахождение года с наибольшим количеством случаев
max_year = count_by_year.idxmax()

print(max_year)

1999

In [13]:
# Выбор данных только для штата Невада
nevada_data = ufo_data[ufo_data['State'] == 'NV']

# Сортировка данных по времени
nevada_data = nevada_data.sort_values(by='Time')

# Вычисление разницы между соседними датами
nevada_data['TimeDiff'] = nevada_data['Time'].diff()

# Перевод интервала времени в дни
nevada_data['TimeDiffDays'] = nevada_data['TimeDiff'].dt.days

# Вычисление среднего интервала времени между двумя случаями наблюдения НЛО в Неваде
average_interval = nevada_data['TimeDiffDays'].mean()

print(average_interval)

68.44876325088339

# 6. Закрепление знаний

In [79]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(bike_data)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

- starttime — время начала поездки (дата, время);
- stoptime — время окончания поездки (дата, время);
- start station id — идентификатор стартовой стоянки;
- start station name — название стартовой стоянки;
- start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
- end station id — идентификатор конечной стоянки;
- end station name — название конечной стоянки;
- end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
- bikeid — идентификатор велосипеда;
- usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
- birth year — год рождения клиента;
- gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [80]:
missing_start_station_id = bike_data["start station id"].isnull().sum()

print("Количество пропусков в столбце 'start station id':", missing_start_station_id)

Количество пропусков в столбце 'start station id': 169

In [81]:
display(bike_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [82]:
display(bike_data["start station id"].mode().iloc[0])

281.0

In [83]:
user_type_counts = bike_data['usertype'].value_counts()
display(user_type_counts)

# Определение преобладающего типа клиентов
dominant_user_type = user_type_counts.idxmax()

# Подсчет общего числа клиентов
total_users = len(bike_data)

# Подсчет количества клиентов преобладающего типа
dominant_user_type_count = user_type_counts[dominant_user_type]

# Расчет доли клиентов преобладающего типа
dominant_user_type_percentage = (dominant_user_type_count / total_users)

display(round(dominant_user_type_percentage, 2))

usertype
Subscriber    232202
Customer       67798
Name: count, dtype: int64

0.77

In [84]:
mode_value =bike_data["gender"].mode().iloc[0]
mode_count = bike_data["gender"].value_counts().loc[mode_value]
display(mode_count)

183582

In [85]:
# сравнение числа уникальных стартовых и конечных стоянок
unique_start_stations = bike_data['start station id'].nunique()
unique_end_stations = bike_data['end station id'].nunique()
not_equel = unique_start_stations != unique_end_stations
if not_equel:
    print('true')
else:
    print('false')

true

In [86]:
# минимальный возраст клиента
min_age = bike_data["birth year"].max()
display(min_age)

2002

In [87]:
# самый популярный старт
pop_start = bike_data['start station name'].describe()
display(pop_start)

count                                299831
unique                                  759
top       Grand Army Plaza & Central Park S
freq                                   1928
Name: start station name, dtype: object

In [88]:
# Подсчет количества поездок для каждой стартовой стоянки
start_station_counts = bike_data['start station name'].value_counts()

# Проверка, является ли "Eastern Pkwy & Washington Ave" самой непопулярной
least_popular_start_station = "Eastern Pkwy & Washington Ave"
is_least_popular = least_popular_start_station in start_station_counts.index and start_station_counts[least_popular_start_station] == 1

if is_least_popular:
    print("Да, 'Eastern Pkwy & Washington Ave' является самой непопулярной стартовой стоянкой.")
else:
    print("Нет, 'Eastern Pkwy & Washington Ave' не является самой непопулярной стартовой стоянкой.")

Нет, 'Eastern Pkwy & Washington Ave' не является самой непопулярной стартовой стоянкой.

In [89]:
pop_end = bike_data['end station name'].describe()
display(pop_end)

count                    299831
unique                      765
top       West St & Chambers St
freq                       1963
Name: end station name, dtype: object

In [90]:
# statistic
bike_data.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

### Задание 6.8
1 point possible (graded)
В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [91]:
display(bike_data)

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [92]:
bike_data = bike_data.copy()
bike_data.drop(['start station id', 'end station id'], axis=1, inplace=True)

Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [93]:
from datetime import datetime
# Замена признака "birth year" на "age"
# Замена признака birth year на age
current_year = 2018
bike_data['age'] = current_year - bike_data['birth year']

# Удаление столбца birth year
bike_data.drop('birth year', axis=1, inplace=True)

# Подсчет поездок клиентов старше 60 лет
trips_by_clients_over_60 = bike_data[bike_data['age'] > 60].shape[0]

print(f"Количество поездок клиентов старше 60 лет: {trips_by_clients_over_60}")

Количество поездок клиентов старше 60 лет: 11837

Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [94]:
# Преобразование столбцов starttime и stoptime в формат datetime
bike_data['starttime'] = pd.to_datetime(bike_data['starttime'])
bike_data['stoptime'] = pd.to_datetime(bike_data['stoptime'])

# Создание нового столбца trip duration
bike_data['trip_duration'] = (bike_data['stoptime'] - bike_data['starttime']).dt.total_seconds() / 60

# Вывод длительности поездки под индексом 3
trip_duration_index_3 = bike_data.loc[3, 'trip_duration']

print(f"Длительность поездки под индексом 3: {trip_duration_index_3} минут")

Длительность поездки под индексом 3: 7.280616666666666 минут

Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [95]:


# Создание признака-мигалки weekend
bike_data['weekend'] = bike_data['starttime'].dt.dayofweek // 5  # 1, если суббота или воскресенье, 0 - в противном случае

# Подсчет количества поездок, начинающихся в выходные
weekend_trips_count = bike_data[bike_data['weekend'] == 1].shape[0]

print(f"Количество поездок, начинающихся в выходные: {weekend_trips_count}")

Количество поездок, начинающихся в выходные: 115135

Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;

поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;

поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;

поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [98]:
bike_data['time of day'] = pd.cut(bike_data['starttime'].dt.hour,
                                  bins=[-1, 6, 12, 18, 23],
                                  labels=['night', 'mornin', 'day', 'evening'],
                                  include_lowest=True)
day_trips = bike_data[bike_data['time of day']=='day'].shape[0]
night_trips = bike_data[bike_data['time of day']=='night'].shape[0]
ratio_trips = day_trips/night_trips
print(round(ratio_trips))

9